.App {
  display: flex;
  font-family: "IBM Plex Sana Thai Looped", sans-serif;
  color: white;
  /* background: linear-gradient(179deg, #176eb5, #d545d7); */
  text-shadow: 1px 0px 2px #8dc4f0;
  z-index: 10000;
  /* position: fixed; */
flex-direction: row;
justify-content: center ;

align-items: center;}

.body_container {
width: 100%;
}
.bodyActive{
  margin-left: 18rem;
  transition-duration: 0.4s;
  transition-delay: 0.1s;

}
.bodyInActive{
  margin-left: 8rem;
  transition-duration: 0.4s;
  transition-delay: 0.1s;
}
.sidebar_container {
  height: 100vh;
  /* background: linear-gradient(179deg, #008cff, #00f7ff); */
  background-image: linear-gradient( 179deg, #004cff, #00c2fc );
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  z-index: 10000;

}

.sidebarActive {
  width: 14rem;
  transition-duration: 0.4s;
  transition-delay: 0.1s;
}

.sidebarInActive {
  width: 4rem;
  transition-duration: 0.4s;
  transition-delay: 0.1s;
}

.sidebarContainerActive {
  width: 18rem;
  transition-duration: 0.4s;
  transition-delay: 0.1s;
}

.sidebarContainerInActive {
  width: 8rem;
  transition-duration: 0.4s;
  transition-delay: 0.1s;
}
.sidebar {
  display: flex;
  height: 92%;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 15px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.lines_icon {
  display: flex;
  align-self: flex-end;
  border-radius: 5px;
  /* margin-top: 1vmax; */
  /* margin-bottom: 2vmax; */
}

.profile {
  text-align: center;
  width: 100%;
}

.profileImgActive {
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
}

.profileImgInActive {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}

.profile>img:hover {
  transition-duration: 0.5s;
  transition-delay: 0.2s;
  background-color: rgba(255, 255, 255, 0.589);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 2px solid rgba(255, 255, 255, 0.18);
  cursor: pointer
}




.groups {
  display: flex;
  flex-direction: column;
  width: 100%
}

.group {
  display: flex;
  flex-direction: column;
  width: 100%
}

h3 {
  font-size: 1rem;
  margin: 10px 0px 10px 0px
}