.App2:fullscreen {
  width: 100%;
  background-color: aliceblue;
  display: flex
}

.app3{
  min-width: 100%;
  align-items: "center";
  justify-content: "center";
  overflow-y: "auto";
  display: "grid";
  flex-direction: "column"
}